.StripeElement { 
border: 2px solid #e2e6e7;
    padding: 15px 15px;
    width: 100%;
    border-radius: 5px; 
}

.form-row{
    display: block;
}
.StripeElement--invalid { 
    border: 2px solid #a94442;

    /* color: #a94442; */
}

.error-msg{
    color: #a94442;
}

.complete-booking {
    background: #88ce43;
    transition: 0.3s;
    padding: 5px;
    text-align: center;
    display: block;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    -webkit-appearance: none !important;
    border: none;
}
