.jumbotron {
    background-image: url("../../../assets/images/landing-img.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
    padding: 5rem 0;
  }

  .container{
    max-width: 1140px;
  }

  .slider-content{
    text-align: center;
    display: block;
  }

  .slider-content h1 {
    margin-bottom: 32px;
    margin-top: 0;
    text-shadow: 1px 1px 55px rgba(0, 0, 0, 0.47);
    letter-spacing: -2px;
}

h1 {
    font-size: 60px;
    color: #ffffff;
    margin: 0.67em 0;
}

.slider-content h3 {
    color: #ffffff;
    line-height: 1.3;
    font-size: 24px;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.37);
    font-weight: 400;
    max-width: 790px;
    margin: 0 auto;
}

.form-wrap {
    margin: 75px 0 0;
    padding-left: 10%;
    padding-right: 10%;
}

.howit-wrap {
  text-align: center;
  margin: 0 0 0; 
}

.center-block h2 span {
  color: #1467C5;
  border-bottom: 3px solid #1467C5;
}

.booking {
  background: #e4edf7;
  border-top: 2px solid #99c9ff; }

.invalid{
  border: 2px solid #a94442;
}
.error-msg{
    color: #a94442;
}