<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="slider-content" style="margin-top: 50px;">
              <h1>Home Services Made Easy</h1>
              <h3>Book expert home cleaners and handymen at a moment's notice. Just pick a time and we’ll do the rest. </h3>
              <form class="form-wrap" [formGroup]="homeForm" (ngSubmit)="goToServiceBooking()">
                <div class="form-row">
                  <div class="col-7">
                    <input [ngClass]= "homeForm.get('email').invalid && (homeForm.get('email').dirty || homeForm.get('email').touched)?'invalid':''" id="email" type="text" class="form-control form-control-lg" placeholder="Email" formControlName="email" required>
                    <div *ngIf="homeForm.get('email').invalid && (homeForm.get('email').dirty || homeForm.get('email').touched || formSubmitted)">

                      <div class="error-msg" *ngIf="homeForm.get('email').errors.required">
                        Please enter an Email.
                      </div>
                      <div class="error-msg" *ngIf="homeForm.get('email').errors.pattern">
                        Invalid email. Allowed is abc@domain.com
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-3">
                    <input [ngClass]= "homeForm.get('service_zipcode').invalid && (homeForm.get('service_zipcode').dirty || homeForm.get('service_zipcode').touched)?'invalid':''" id="zipcode" type="text" class="form-control form-control-lg" placeholder="Zipcode" formControlName="service_zipcode" required>

                    <div *ngIf="homeForm.get('service_zipcode').invalid && (homeForm.get('service_zipcode').dirty || homeForm.get('service_zipcode').touched || formSubmitted)">

                    <div class="error-msg" *ngIf="homeForm.get('service_zipcode').errors.required">
                      Zipcode is required.
                    </div>
                    <div class="error-msg" *ngIf="homeForm.get('service_zipcode').errors.minlength">
                      Zipcode must be at least 5 characters long.
                    </div>
                    <div class="error-msg" *ngIf="homeForm.get('service_zipcode').errors.maxlength">
                      Zipcode must be at most 5 characters long.
                    </div>
                    <div class="error-msg" *ngIf="homeForm.get('service_zipcode').errors.pattern">
                      Zipcode can only be numbers.
                    </div>
                  </div>

                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary btn-lg mb-2" style="background-color: #1467C5;">Continue</button>
                  </div>
                </div>
                <!-- <div class="form-row">
                      <div class="input-group col-4" style="margin-top: 32px;">
                        <input [ngClass]= "homeForm.get('date').invalid && (homeForm.get('date').dirty || homeForm.get('date').touched)?'invalid':''" class="form-control form-control-lg" placeholder="yyyy-mm-dd"
                               name="dp" ngbDatepicker #d="ngbDatepicker" id="date" type="text" formControlName="date" required>
                                <div class="input-group-append">
                                  <button class="btn btn-lg calendar" (click)="d.toggle()" type="button"></button>
                                </div>
                      </div> 
                      <div class="form-group col-auto" style="margin-bottom: 0;">
                        <ngb-timepicker [ngClass]= "homeForm.get('time').invalid && (homeForm.get('time').dirty || homeForm.get('time').touched)?'invalid':''" id="time" type="text" [hourStep]="hourStep" [minuteStep]="minuteStep" formControlName="time" required></ngb-timepicker>
                      </div>
                      <div class="form-group col-auto" style="margin-top: 32px;">
                        <div class="input-group input-group-lg mb-3">
                          <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Select Service...</option>
                            <option *ngFor="let service of serviceCategoeies; index as i;" value="{{i}}">{{service.title}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group col-auto" style="margin-top: 32px;">
                        <div class="input-group input-group-lg mb-3">
                          <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Sub Service...</option>
                            <option *ngFor="let service of serviceSubCategories; index as i;" value="{{i}}">{{service.title}}</option>
                          </select>
                        </div>
                      </div>
                </div> -->
                <!-- <div class="form-row">
                  <div class="input-group col-4">
                    <div *ngIf="homeForm.get('date').invalid && (homeForm.get('date').dirty || homeForm.get('date').touched || formSubmitted)">

                      <div class="error-msg" *ngIf="homeForm.get('date').errors.required">
                        Please pick a date.
                      </div>
                      <div class="error-msg" *ngIf="homeForm.get('date').errors['tooEarly']">Please pick a later date.</div>
                  
                    </div> 
                  </div>
                  <div class="input-group col-4">
                  <div *ngIf="homeForm.get('time').invalid && (homeForm.get('time').dirty || homeForm.get('time').touched || formSubmitted)">
                    <div class="error-msg" *ngIf="homeForm.get('time').errors['required']">Please select a time</div>
                    <div class="error-msg" *ngIf="homeForm.get('time').errors['tooLate']">Please pick a time before 5 pm.</div>
                    <div class="error-msg" *ngIf="homeForm.get('time').errors['tooEarly']">Please pick a time after 9 am.</div>
                  </div>
                </div>
                </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="howitworks" class="howit-work main-block center-block">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>How it <span>works</span></h2>
          <h6>We’ve made all the hardwork for making it simple for you. Here’s how it works</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="howit-wrap">
            <span><img style="width: 100px;" src="/assets/images/date.png"></span>
          <h4>Book a Service</h4>
          <p>Click the book now button to make a booking on your preffered date and time</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="howit-wrap">
          <span><img style="width: 100px;" src="/assets/images/lock.png"></span>
          <h4>Confirm Booking</h4>
          <p>We will confirm your booking along with your instructions via secure transaction.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="howit-wrap">
          <span><img style="width: 100px;" src="/assets/images/home.png"></span>
          <h4>We’ll fix it</h4>
          <p>Our trusted &amp; experienced service professional will come to your door-step on the time for your service.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="booking main-block center-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Don’t wait! Book a service now.</h2>
        <h6>Book expert home cleaners and handymen at a moment's notice. Just pick a time and we’ll do the rest. </h6>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <form class="form-wrap">
          <div class="form-row">
            <div class="col-7">
              <input type="text" class="form-control form-control-lg" placeholder="Email">
            </div>
            <div class="col">
              <input type="text" class="form-control form-control-lg" placeholder="Zipcode">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary btn-lg mb-2">Continue</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>