<section class="booking-details center-block main-block">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-md-8 set-sm-fit mb-4">
                <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                    <div class="preference-title">
                        <h4>Personal Details</h4>
                    </div>
                    <div class="preferences">
                        <!-- <form [formGroup]="serviceBookingForm" (ngSubmit)="onSubmit(serviceBookingForm.value)"> -->
                        <!--// Styled radio btn 3 -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="preference-about_home">
                                    <h4>Payment Method</h4>
                                    <div class="payment-icon">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                        <p>256 bit Secure<br> SSL Encryption</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="preference-radio mt-4">
                            <!-- Card Details -->
                            <p>Credit Card details</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-details">
                                        <input type="number" placeholder="Card number" class="card-number card-num">
                                        <img src="images/visa.png" class="visa-img" alt="visa-icon">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <div class="card-details">
                                        <input type="number" placeholder="MM/YY" class="card-number">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-details">
                                        <input type="number" placeholder="CVV" class="card-number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-details">
                                        <input type="text" placeholder="Name as on Card" class="card-number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Card Details -->
                        <div class="preference-radio mt-5">
                            <!-- Personal Details -->
                            <p>Pesonal Details</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-details">
                                        <input type="email" placeholder="Email Address" class="card-number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-details">
                                        <input type="number" placeholder="Phone Number" class="card-number">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-9">
                                    <div class="card-details">
                                        <input type="text" placeholder="Your Full Address" class="card-number">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-details">
                                        <input type="number" placeholder="10023" class="card-number">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div class="terms-reminder">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Check this custom checkbox</span>
                                        </label>
                                    </div>
                                    <div class="terms-reminder">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">I read and agree to the <a
                                                    href="#">terms &
                                                    conditions</a></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <button class="btn btn-block complete-booking" type="submit"><span
                                            class="pe-7s-unlock"></span>Complete
                                        Booking <span class="d-none d-md-inline-block">via Secure
                                            Server</span></button>
                                </div>
                            </div>
                        </div>
                        <!--// Personal Details -->
                        <!-- Booking Summary -->
                        <!-- <div class="col-md-4 set-sm-fit">
          <div data-toggle="affix">
            <div class="preference-title">
              <h4>Booking Summary</h4>
            </div>
            <div class="fesilities">
              <ul>
                <li><i class="fa fa-paint-brush" aria-hidden="true"></i>
                  <p>Standard Cleaning</p>
                </li>
                <li><i class="fa fa-calendar" aria-hidden="true"></i>
                  <p>Tues. 12/31/2016 @ 9:00 AM</p>
                </li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i>
                  <p>4 hours</p>
                </li>
                <li><i class="fa fa-refresh" aria-hidden="true"></i>
                  <p>One time</p>
                </li>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                  <p>1650 Broadway Apt. 23B New York, NY 10023</p>
                </li>
              </ul>
              <h4>Total cost<span>$329</span></h4>
            </div>
          </div>
  
        </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>