<section class="booking-details center-block main-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Book your Service</h2>
        <h6>Its time to book a service for your home or apartment.</h6>
      </div>
    </div>
    <div class="row mt-5 justify-content-center">
      <div class="col-md-8 set-sm-fit mb-4">
        <form [formGroup]="serviceBookingForm" (ngSubmit)="onSubmit()">
          <div class="preference-title">
            <h4>Service Details</h4>
          </div>
          <div class="preferences">
            <div class="preference-radio">
              <p>What type of Service?</p>
              <div class="row">
                <div *ngFor="let service of serviceCategoeies; index as i;" class="col-xs-12 col-md-4 sm-box">
                  <div class="styled-radio">
                    <input type="radio" (change)="handleChange(service)" id="service+{{i}}" name="selector">
                    <label for="service+{{i}}">{{service.title}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="!subCategoryVisibile && serviceBookingForm.get('service_id').invalid && (serviceBookingForm.get('service_id').dirty || serviceBookingForm.get('service_id').touched || formSubmitted)">
              <div class="error-msg" *ngIf="serviceBookingForm.get('service_id').errors.required">
                Please select a service.
              </div>
            </div>
            <div *ngIf="subCategoryVisibile" class="preference-radio">
              <p>What type of Sub Service?</p>
              <div class="row">
                <div *ngFor="let service of selectedSubCategories; index as i;" class="col-xs-12 col-md-4 sm-box">
                  <div class="styled-radio">
                    <input type="radio" id="{{i}}" name="selector" (change)="handleSubServiceChange(service)">
                    <label for="{{i}}">{{service.title}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="subCategoryVisibile && serviceBookingForm.get('service_id').invalid && (serviceBookingForm.get('service_id').dirty || serviceBookingForm.get('service_id').touched || formSubmitted)">
              <div class="error-msg" *ngIf="serviceBookingForm.get('service_id').errors.required">
                Please select a sub service.
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="preference-about_home">
                  <h4>Tell us about your home</h4>
                </div>
              </div>
            </div>
            <div class="preference-radio mt-4">
              <!-- Comment box -->
              <p>Give a brief description of the job. <span class="optional-fade">(optional)</span></p>
              <div class="row">
                <div class="col-md-12">
                  <textarea class="optinal-textarea" formControlName="description"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="preference-about_home">
                  <h4>Choose hours and dates</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="preference-radio mt-4">
                  <p>Choose a date?</p>
                  <div class="form-group">
                    <div class="col-xs-5 date">
                      <!-- <div class="input-group input-append date" id="datePicker">
                        <input type="text" class="form-control" name="date" />
                        <span class="input-group-addon add-on"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                      </div> -->
                      <div class="input-group input-append" style="margin-top: 50px;">
                        <input
                          [ngClass]="serviceBookingForm.get('date').invalid && (serviceBookingForm.get('date').dirty || serviceBookingForm.get('date').touched)?'invalid':''"
                          class="form-control form-control-lg" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                          #d="ngbDatepicker" id="date" type="text" formControlName="date" required>
                        <div class="input-group-append">
                          <button class="btn btn-lg calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="serviceBookingForm.get('date').invalid && (serviceBookingForm.get('date').dirty || serviceBookingForm.get('date').touched || formSubmitted)">
                  <div class="error-msg" *ngIf="serviceBookingForm.get('date').errors.required">
                    Please pick a date.
                  </div>
                  <div class="error-msg" *ngIf="serviceBookingForm.get('date').errors['tooEarly']">Please pick a later
                    date.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="preference-radio mt-4">
                  <p>When would you like to start?</p>
                  <div class="form-group">
                    <ngb-timepicker
                      [ngClass]="serviceBookingForm.get('time').invalid && (serviceBookingForm.get('time').dirty || serviceBookingForm.get('time').touched)?'invalid':''"
                      id="time" type="text" [hourStep]="hourStep" [minuteStep]="minuteStep" formControlName="time"
                      required></ngb-timepicker>
                  </div>
                </div>
                <div
                  *ngIf="serviceBookingForm.get('time').invalid && (serviceBookingForm.get('time').dirty || serviceBookingForm.get('time').touched || formSubmitted)">
                  <div class="error-msg" *ngIf="serviceBookingForm.get('time').errors['required']">Please select a time
                  </div>
                  <div class="error-msg" *ngIf="serviceBookingForm.get('time').errors['tooLate']">Please pick a time
                    before 5 pm.</div>
                  <div class="error-msg" *ngIf="serviceBookingForm.get('time').errors['tooEarly']">Please pick a time
                    after 9 am.</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="preference-radio mt-4">
                  <!-- Styled radio btn 3 -->
                  <p>Is this an emergency?</p>
                  <div class="row">
                  <div *ngFor="let e of emergencyValues; index as i;" class="col-md-6 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" (change)="changeEmergencyOption(e)" id="e+{{i}}" name="selector2">
                      <label for="e+{{i}}">{{e}}</label>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div *ngIf="!isEmergency" class="col-md-6">
                <div class="preference-radio mt-4">
                  <!-- Styled radio btn 3 -->
                  <p>How many hours?</p>
                  <div class="preference-quantity houres">
                    <div class="counter js-counter">
                      <div class="counter__item">
                        <a class="counter__minus js-counter-btn fa fa-minus" aria-hidden="true" data-action="minus"></a>
                      </div>
                      <div class="counter__item counter__item--center">
                        <input class="counter__value js-counter-value" type="text" tabindex="-1"
                          formControlName="no_of_hours" required />
                      </div>
                      <div class="counter__item">
                        <a class="counter__plus js-counter-btn fa fa-plus" aria-hidden="true" data-action="plus"></a>
                      </div>
                    </div>
                    <p>This is what we think the best based on your preferences. Feel free to change it if you want.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="preference-radio mt-4">
              <p>How often would you like the service?</p>
              <div class="row">
                <div *ngFor="let f of frequency; index as i;" class="col-md-3 sm-box">
                  <div class="styled-radio styled-radio2">
                    <input type="radio" (change)="handleFrequencyChange(f)" id="f+{{i}}" name="selector1">
                    <label for="f+{{i}}">{{f}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="serviceBookingForm.get('frequency').invalid && (serviceBookingForm.get('frequency').dirty || serviceBookingForm.get('frequency').touched || formSubmitted)">
              <div class="error-msg" *ngIf="serviceBookingForm.get('frequency').errors.required">
                Please select a value.
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="preference-about_home">
                  <h4>Service Location</h4>
                </div>
              </div>
            </div>
            <div class="preference-radio mt-5">
              <!-- Personal Details -->
              <p>Give us a few more details about your service location</p>
              <div class="row">
                  <div class="col-md-12">
                      <div class="card-details">
                          <input type="text" placeholder="Address Line 1" class="card-number" [ngClass]="serviceBookingForm.get('service_address_line_1').invalid && (serviceBookingForm.get('service_address_line_1').dirty || serviceBookingForm.get('service_address_line_1').touched || formSubmitted)?'invalid':''" formControlName="service_address_line_1">
                      </div>
                  </div>
                  <div *ngIf="serviceBookingForm.get('service_address_line_1').invalid && (serviceBookingForm.get('service_address_line_1').dirty || serviceBookingForm.get('service_address_line_1').touched || formSubmitted)">
                  <div class="error-msg" *ngIf="serviceBookingForm.get('service_address_line_1').errors['required']">Please enter a address.
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="card-details">
                      <input type="text" placeholder="Address Line 2" class="card-number" formControlName="service_address_line_2">
                  </div>
              </div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-4">
                      <div class="card-details">
                          <input type="text" placeholder="City" class="card-number" [ngClass]="serviceBookingForm.get('service_city').invalid && (serviceBookingForm.get('service_city').dirty || serviceBookingForm.get('service_city').touched || formSubmitted)?'invalid':''" formControlName="service_city">
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card-details">
                      <!-- <input type="text" placeholder="State" class="card-number"> -->
                      <select class="card-number" id="statesDropdown" style="height: 68px;" [ngClass]="serviceBookingForm.get('service_state').invalid && (serviceBookingForm.get('service_state').dirty || serviceBookingForm.get('service_state').touched || formSubmitted)?'invalid':''" formControlName="service_state">
                        <option selected>State</option>
                        <option *ngFor="let state of states; index as i;" value="{{i}}">{{state['name']}}</option>
                      </select>
                  </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card-details">
                          <input type="text" placeholder="Zipcode" class="card-number" [ngClass]="serviceBookingForm.get('service_zipcode').invalid && (serviceBookingForm.get('service_zipcode').dirty || serviceBookingForm.get('service_zipcode').touched || formSubmitted)?'invalid':''" formControlName="service_zipcode">
                      </div>
                  </div>
              </div>

              <div class="row mt-3">
                <div *ngIf="serviceBookingForm.get('service_city').invalid && (serviceBookingForm.get('service_city').dirty || serviceBookingForm.get('service_city').touched || formSubmitted)">
                  <div class="error-msg" *ngIf="serviceBookingForm.get('service_city').errors['required']">Please enter a city.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4 justify-content-center">
            <div class="col-md-8">
              <button type="submit" class="btn btn-block complete-booking">
                <span class="pe-7s-unlock"></span>Complete Booking <span class="d-none d-md-inline-block">via Secure Server</span>
                </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>