<section class="booking-details center-block main-block">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Book your Service</h2>
          <h6>Its time to book a service for your home or apartment.</h6>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-8 set-sm-fit mb-4">
          <form action="#">
            <div class="preference-title">
              <h4>Service Details</h4>
            </div>
            <!-- preferences Wrap -->
            <div class="preferences">
              <!-- Styled radio btn 1 -->
              <div class="preference-radio">
                <p>What type of Service?</p>
                <div class="row">
                  <div *ngFor="let service of serviceCategoeies; index as i;" class="col-xs-12 col-md-4 sm-box">
                    <div class="styled-radio">
                      <input type="radio" (change)="handleChange(service)" id="service+{{i}}" name="selector">
                      <label for="service+{{i}}">{{service.title}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="subCategoryVisibile" class="preference-radio">
                <p>What type of Sub Service?</p>
                <div class="row">
                  <div *ngFor="let service of selectedSubCategories; index as i;" class="col-xs-12 col-md-4 sm-box">
                    <div class="styled-radio">
                      <input type="radio" id="{{i}}" name="selector">
                      <label for="{{i}}">{{service.title}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Styled radio btn 2 -->
              <div class="preference-radio mt-4">
                <p>How often would you like the service?</p>
                <div class="row">
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" id="one-time" name="selector1">
                      <label for="one-time">ONE TIME</label>
                    </div>
                  </div>
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" id="weekly" name="selector1">
                      <label for="weekly" class="radio-offer" data-toggle="tooltip" data-placement="bottom"
                        title="SAVE UP TO 15%">WEEKLY</label>
                      <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    </div>
                  </div>
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" id="bi-weekly" name="selector1">
                      <label for="bi-weekly">BI-WEEKLY</label>
                    </div>
                  </div>
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" id="monthly" name="selector1">
                      <label for="monthly">MONTHLY</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" id="monthly" name="selector1">
                      <label for="monthly">QUARTERLY</label>
                    </div>
                  </div>
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" id="monthly" name="selector1">
                      <label for="monthly">HALF YEARLY</label>
                    </div>
                  </div>
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" id="monthly" name="selector1">
                      <label for="monthly">YEARLY</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- //Styled radio btn 2 -->
              <div class="row">
                <!-- Home about -->
                <div class="col-md-12">
                  <div class="preference-about_home">
                    <h4>Tell us about your home</h4>
                  </div>
                </div>
              </div>
              <!--// Styled Check box -->
              <div class="preference-radio mt-4">
                <!-- Comment box -->
                <p>Give a brief description of the job. <span class="optional-fade">(optional)</span></p>
                <div class="row">
                  <div class="col-md-12">
                    <textarea class="optinal-textarea"></textarea>
                  </div>
                </div>
              </div>
              <!--// Comment box -->
              <div class="row">
                <div class="col-md-12">
                  <div class="preference-about_home">
                    <h4>Choose hours and dates</h4>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- Houres and Calendar -->
                <div class="col-md-6">
                  <div class="preference-radio mt-4">
                    <p>How many hours?</p>
                    <div class="preference-quantity houres">
                      <div class="counter js-counter">
                        <div class="counter__item">
                          <a class="counter__minus js-counter-btn fa fa-minus" aria-hidden="true" data-action="minus"></a>
                        </div>
                        <div class="counter__item counter__item--center">
                          <input class="counter__value js-counter-value" type="text" value="1" disabled="disabled"
                            tabindex="-1" />
                        </div>
                        <div class="counter__item">
                          <a class="counter__plus js-counter-btn fa fa-plus" aria-hidden="true" data-action="plus"></a>
                        </div>
                      </div>
                      <p>his is what we think the best based on your preferences. Feel free to change it if you want.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="preference-radio mt-4">
                    <p>Choose a date?</p>
                    <div class="form-group">
                      <div class="col-xs-5 date">
                        <div class="input-group input-append date" id="datePicker">
                          <input type="text" class="form-control" name="date" />
                          <span class="input-group-addon add-on"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--// Houres and Calendar -->
              <div class="preference-radio mt-4">
                <!-- Styled radio btn 3 -->
                <p>When do you like to start?</p>
                <div class="row">
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" id="timer1" name="selector2">
                      <label for="timer1">7:00 AM</label>
                    </div>
                  </div>
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" id="timer2" name="selector2">
                      <label for="timer2">9:00 AM</label>
                    </div>
                  </div>
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2 radio-disable">
                      <input type="radio" id="timer3" name="selector2" disabled>
                      <label for="timer3" disabled>11:00 PM</label>
                    </div>
                  </div>
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" id="timer4" name="selector2">
                      <label for="timer4">1:00 PM</label>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" id="timer5" name="selector2">
                      <label for="timer5">3:00 PM</label>
                    </div>
                  </div>
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" id="timer6" name="selector2">
                      <label for="timer6">5:00 PM</label>
                    </div>
                  </div>
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2">
                      <input type="radio" id="timer7" name="selector2">
                      <label for="timer7">7:00 PM</label>
                    </div>
                  </div>
                  <div class="col-md-3 sm-box">
                    <div class="styled-radio styled-radio2 radio-disable">
                      <input type="radio" id="timer8" name="selector2" disabled>
                      <label for="timer8" disabled>9:00 PM</label>
                    </div>
                  </div>
                </div>
              </div>
              <!--// Styled radio btn 3 -->
              <div class="row">
                <div class="col-md-12">
                  <div class="preference-about_home">
                    <h4>Payment Method</h4>
                    <div class="payment-icon">
                      <i class="fa fa-lock" aria-hidden="true"></i>
                      <p>256 bit Secure<br> SSL Encryption</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="preference-radio mt-4">
                <!-- Card Details -->
                <p>Credit Card details</p>
                <div class="row">
                  <div class="col-md-12">
                    <div class="card-details">
                      <input type="number" placeholder="Card number" class="card-number card-num">
                      <img src="images/visa.png" class="visa-img" alt="visa-icon">
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-3">
                    <div class="card-details">
                      <input type="number" placeholder="MM/YY" class="card-number">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card-details">
                      <input type="number" placeholder="CVV" class="card-number">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card-details">
                      <input type="text" placeholder="Name as on Card" class="card-number">
                    </div>
                  </div>
                </div>
              </div>
              <!--// Card Details -->
              <div class="preference-radio mt-5">
                <!-- Personal Details -->
                <p>Pesonal Details</p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="card-details">
                      <input type="email" placeholder="Email Address" class="card-number">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card-details">
                      <input type="number" placeholder="Phone Number" class="card-number">
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-9">
                    <div class="card-details">
                      <input type="text" placeholder="Your Full Address" class="card-number">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card-details">
                      <input type="number" placeholder="10023" class="card-number">
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12">
                    <div class="terms-reminder">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Check this custom checkbox</span>
                      </label>
                    </div>
                    <div class="terms-reminder">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">I read and agree to the <a href="#">terms &
                            conditions</a></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-12">
                    <button class="btn btn-block complete-booking" type="submit"><span
                        class="pe-7s-unlock"></span>Complete Booking <span class="d-none d-md-inline-block">via Secure
                        Server</span></button>
                  </div>
                </div>
              </div>
              <!--// Personal Details -->
            </div>
            <!--// preferences Wrap -->
          </form>
        </div>
  
        <!-- Booking Summary -->
        <!-- <div class="col-md-4 set-sm-fit">
          <div data-toggle="affix">
            <div class="preference-title">
              <h4>Booking Summary</h4>
            </div>
            <div class="fesilities">
              <ul>
                <li><i class="fa fa-paint-brush" aria-hidden="true"></i>
                  <p>Standard Cleaning</p>
                </li>
                <li><i class="fa fa-calendar" aria-hidden="true"></i>
                  <p>Tues. 12/31/2016 @ 9:00 AM</p>
                </li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i>
                  <p>4 hours</p>
                </li>
                <li><i class="fa fa-refresh" aria-hidden="true"></i>
                  <p>One time</p>
                </li>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                  <p>1650 Broadway Apt. 23B New York, NY 10023</p>
                </li>
              </ul>
              <h4>Total cost<span>$329</span></h4>
            </div>
          </div>
  
        </div> -->
        <!--// Booking Summary -->
      </div>
    </div>
  </section>
  