<section class="booking-details center-block main-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Register with us!</h2>
        <h6>Please provide us with some details and we will match you with customers in your area...</h6>
      </div>
    </div>
    <div class="row mt-5 justify-content-center">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="col-md-12 set-sm-fit mb-4">

        <div class="d-flex">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
            <li ngbNavItem="Personal Details">
              <a ngbNavLink>Personal Details</a>
              <ng-template ngbNavContent>
                <div class="preference-title">
                  <h4>{{ active }}</h4>
                </div>
                <div class="preferences">
                  <div class="preference-radio mt-3">
                    <p>Tell us a bit about yourself.</p>
                    <div class="row mt-3">
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="First Name" class="card-number" formControlName="first_name">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="Middle Name" class="card-number"
                            formControlName="middle_name">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="Last Name" class="card-number" formControlName="last_name">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-8">
                        <div class="card-details">
                          <input type="text" placeholder="Phone Number" class="card-number"
                            formControlName="phone_number">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <select class="card-number" id="phoneTypesDropdown" style="height: 48px;"
                            formControlName="phone_number_type">
                            <option selected>Phone Number Type...</option>
                            <option value="home">Home</option>
                            <option value="work">Work</option>
                            <option value="mobile">Mobile</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="text" placeholder="Address Line 1" class="card-number"
                            [ngClass]="registrationForm.get('user_address_line_1').invalid && (registrationForm.get('user_address_line_1').dirty || registrationForm.get('user_address_line_1').touched || formSubmitted)?'invalid':''"
                            formControlName="user_address_line_1">
                        </div>
                      </div>
                      <div
                        *ngIf="registrationForm.get('user_address_line_1').invalid && (registrationForm.get('user_address_line_1').dirty || registrationForm.get('user_address_line_1').touched || formSubmitted)">
                        <div class="error-msg" *ngIf="registrationForm.get('user_address_line_1').errors['required']">
                          Please enter a address.
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="text" placeholder="Address Line 2" class="card-number"
                            formControlName="user_address_line_2">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="City" class="card-number"
                            [ngClass]="registrationForm.get('user_city').invalid && (registrationForm.get('user_city').dirty || registrationForm.get('user_city').touched || formSubmitted)?'invalid':''"
                            formControlName="user_city">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <!-- <input type="text" placeholder="State" class="card-number"> -->
                          <select class="card-number" id="statesDropdown" style="height: 48px;"
                            [ngClass]="registrationForm.get('user_state').invalid && (registrationForm.get('user_state').dirty || registrationForm.get('user_state').touched || formSubmitted)?'invalid':''"
                            formControlName="user_state">
                            <option selected>State</option>
                            <option *ngFor="let state of states; index as i;" value="{{state['abbreviation']}}">
                              {{state['name']}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="Zipcode" class="card-number"
                            [ngClass]="registrationForm.get('user_zipcode').invalid && (registrationForm.get('user_zipcode').dirty || registrationForm.get('user_zipcode').touched || formSubmitted)?'invalid':''"
                            formControlName="user_zipcode">
                        </div>
                      </div>
                    </div>

                    <div class="row mt-3">
                      <div
                        *ngIf="registrationForm.get('user_city').invalid && (registrationForm.get('user_city').dirty || registrationForm.get('user_city').touched || formSubmitted)">
                        <div class="error-msg" *ngIf="registrationForm.get('user_city').errors['required']">Please enter
                          a city.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem="Services">
              <a ngbNavLink>Services</a>
              <ng-template ngbNavContent>
                <div class="preference-title">
                  <h4>{{ active }}</h4>
                </div>
                <div class="preferences">
                  <div class="preference-radio mt-3">
                    <p>Tell us a bit about yourself.</p>
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="text" placeholder="Email" class="card-number">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="password" placeholder="Password" class="card-number">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="First Name" class="card-number">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="Middle Name" class="card-number">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="Last Name" class="card-number">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem="Background Info">
              <a ngbNavLink>Background Info</a>
              <ng-template ngbNavContent>
                <div class="preference-title">
                  <h4>{{ active }}</h4>
                </div>
                <div class="preferences">
                  <div class="preference-radio mt-3">
                    <p>Please provide us with your background information.</p>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="number" placeholder="Social Security Number" class="card-number" formControlName="ssn">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-8">
                        <div class="card-details">
                          <input type="text" placeholder="Identification Number" class="card-number"
                            formControlName="bck_id_number">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <select class="card-number" id="phoneTypesDropdown" style="height: 48px;"
                            formControlName="bck_id_type_id_fk">
                            <option selected>Identification Type...</option>
                            <option value="1">Drivers License</option>
                            <option value="2">Passport Number</option>
                            <option value="3">State ID</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <p>Enter information related to your license if any.</p>
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="text" placeholder="License Number" class="card-number" formControlName="licence_number">
                        </div>
                      </div>
                    </div>
                    <p>Give a brief description of the license. <span class="optional-fade">(optional)</span></p>
                    <div class="row">
                      <div class="col-md-12">
                        <textarea class="optinal-textarea" formControlName="licence_desc"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="preference-radio mt-4">
                          <p>License valid from?</p>
                          <div class="form-group">
                            <div class="col-xs-5 date">
                              <div class="input-group input-append">
                                <input
                                  [ngClass]="registrationForm.get('valid_from').invalid && (registrationForm.get('valid_from').dirty || registrationForm.get('valid_from').touched)?'invalid':''"
                                  class="form-control form-control-lg" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                  #df="ngbDatepicker" id="valid_from" type="text" formControlName="valid_from" required>
                                <div class="input-group-append">
                                  <button class="btn btn-lg calendar" (click)="df.toggle()" type="button"></button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="preference-radio mt-4">
                          <p>License valid upto?</p>
                          <div class="form-group">
                            <div class="col-xs-5 date">
                              <div class="input-group input-append">
                                <input
                                  [ngClass]="registrationForm.get('valid_upto').invalid && (registrationForm.get('valid_upto').dirty || registrationForm.get('valid_upto').touched)?'invalid':''"
                                  class="form-control form-control-lg" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                  #dt="ngbDatepicker" id="valid_upto" type="text" formControlName="valid_upto" required>
                                <div class="input-group-append">
                                  <button class="btn btn-lg calendar" (click)="dt.toggle()" type="button"></button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem="Confirm">
              <a ngbNavLink>Confirm</a>
              <ng-template ngbNavContent>
                <div class="preference-title">
                  <h4>{{ active }}</h4>
                </div>
                <div class="preferences">
                  <div class="preference-radio mt-3">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="text" placeholder="Email" class="card-number" formControlName="email">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="password" placeholder="Password" class="card-number" formControlName="password">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="preference-radio mt-4">
                    <!-- Card Details -->
                    <p>Payment details</p>
                    <h6>Enter your payment information to which payments from customers will be processed.</h6>
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="form-row">
                          <label for="card-element">
                            Credit or debit card
                          </label>
                          <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                          </div>

                          <!-- Used to display form errors. -->
                          <div class="error-msg" id="card-errors" role="alert"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4 justify-content-center">
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-block complete-booking">
                      <span class="pe-7s-unlock"></span>Submit Application
                    </button>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="ml-4"></div>
        </div>
      </div>
    </form>
    </div>
  </div>
</section>