<!-- <div class="container">
    <div class="row" style="margin-top: 40px;">
      <div class="col-md-6 mt-5 mx-auto">
        <form (submit)="register()">
          <h1 class="h3 mb-3 font-weight-normal">Register</h1>
          <div class="form-group">
            <label for="name">First name</label>
            <input type="text" class="form-control" name="first_name" placeholder="Enter your first name" [(ngModel)]="credentials.first_name">
          </div>
          <div class="form-group">
            <label for="name">Last name</label>
            <input type="text" class="form-control" name="last_name" placeholder="Enter your lastname name" [(ngModel)]="credentials.last_name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Register!</button>
        </form>
      </div>
    </div>
  </div> -->
<section class="booking-details center-block main-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Register with us!</h2>
        <h6>Please provide us with some details and we will match you with customers in your area...</h6>
      </div>
    </div>
    <div class="row mt-5 justify-content-center">
      <div class="col-md-12 set-sm-fit mb-4">

        <div class="d-flex">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
            <li ngbNavItem="Personal Details">
              <a ngbNavLink>Personal Details</a>
              <ng-template ngbNavContent>
                <div class="preference-title">
                  <h4>{{ active }}</h4>
              </div>
                <div class="preferences">
                  <div class="preference-radio mt-3">
                    <p>Tell us a bit about yourself.</p>
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="text" placeholder="Email" class="card-number">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="password" placeholder="Password" class="card-number">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="First Name" class="card-number">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="Middle Name" class="card-number">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="Last Name" class="card-number">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem="Services">
              <a ngbNavLink>Services</a>
              <ng-template ngbNavContent>
                <div class="preference-title">
                  <h4>{{ active }}</h4>
              </div>
                <div class="preferences">
                  <div class="preference-radio mt-3">
                    <p>Tell us a bit about yourself.</p>
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="text" placeholder="Email" class="card-number">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="password" placeholder="Password" class="card-number">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="First Name" class="card-number">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="Middle Name" class="card-number">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="Last Name" class="card-number">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem="Background Info">
              <a ngbNavLink>Background Info</a>
              <ng-template ngbNavContent>
                <div class="preference-title">
                  <h4>{{ active }}</h4>
              </div>
                <div class="preferences">
                  <div class="preference-radio mt-3">
                    <p>Tell us a bit about yourself.</p>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="text" placeholder="Email" class="card-number">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="password" placeholder="Password" class="card-number">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="First Name" class="card-number">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="Middle Name" class="card-number">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="Last Name" class="card-number">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem="Confirm">
              <a ngbNavLink>Confirm</a>
              <ng-template ngbNavContent>
                <div class="preference-title">
                  <h4>{{ active }}</h4>
              </div>
                <div class="preferences">
                  <div class="preference-radio mt-3">
                    <p>Tell us a bit about yourself.</p>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="text" placeholder="Email" class="card-number">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="card-details">
                          <input type="password" placeholder="Password" class="card-number">
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="First Name" class="card-number">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="Middle Name" class="card-number">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-details">
                          <input type="text" placeholder="Last Name" class="card-number">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="row mt-4 justify-content-center">
                    <div class="col-md-6">
                      <button type="submit" class="btn btn-block complete-booking">
                        <span class="pe-7s-unlock"></span>Submit Application
                        </button>
                    </div>
                  </div>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="ml-4"></div>
        </div>
      </div>
    </div>
  </div>
</section>